
<!--
<app-diretiva-ngif></app-diretiva-ngif>
-->
<!--
<app-test-bootstrap>
</app-test-bootstrap>
-->
<!--
<app-diretiva-ngswitch></app-diretiva-ngswitch>
-->
<!--
<app-diretiva-ngfor></app-diretiva-ngfor>
-->
<!--
<app-diretiva-ngclass></app-diretiva-ngclass>
-->
<!--
<app-diretiva-ngstyle></app-diretiva-ngstyle>
-->

<!--
<app-exemplo-ngcontent>
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
</app-exemplo-ngcontent>

<app-exemplo-ngcontent>
        <div class="titulo"> 
            <h5 class="card-title">Special title treatment</h5>
        </div>
        <div class="content">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        
</app-exemplo-ngcontent>
-->

<!--
<app-diretiva-customizada>
</app-diretiva-customizada>
-->
<app-criar-curso></app-criar-curso>
<app-cursos></app-cursos>